.hero-three h1, .hero-four h1, .hero-six h1{
	color: #e74c3c;
}

.hero-three h2, .hero-four h2, .hero-six h2 {
	color: #8e8e93;
}

.device-text {
	font-size: 14px;
    color: #8e8e93;
    letter-spacing: 1.39px;
    text-transform: uppercase;
}

.hero-seven {
	background-color: #222;
	position: relative;
    padding-top: 88px;
    margin-top: -5px;
}

.hero-seven img {
	width: 100%;
	max-width: 1000px
}

#hero-seven-slant {
	position: absolute;
    width: 100%;
    height: 70px;
    top: -69px;
    bottom: 0;
    left: 0;
}

.buttonGet, .buttonSign, .buttonGet-one, .buttonSign-one  {
    font-family: wf_segoe-ui_semibold,Segoe UI Semibold,Segoe WP Semibold,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
    font-size: 22px;
    letter-spacing: 0;
    min-width: 200px;
    display: inline-block;
    padding: 14px 10px 16px;
    text-align: center;
    -webkit-transition: box-shadow .3s;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    cursor: pointer;
}

.message-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 60px;
    margin-bottom: 100px;
}

.devices {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 90px;
}

.device-app {
	padding-right: 42px;
}

.device-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 300px;
}

.device-icon img {
	width: 100%;
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: snow;
    text-align: center;
    position: relative;
    padding: 50px 25px 70px;
}

.copy-right, .conditions {
	font-family: wf_segoe-ui_semibold,Segoe UI Semibold,Segoe WP Semibold,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
    color: #8e8e93;
    font-size: 100%;
}

.company-icon {
	vertical-align: middle;
	 color: #8e8e93;
}

.conditions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    line-height: 21px;
    height: 21px;
    cursor: pointer;
    font: inherit;
}

.conditions > span:not(.first) {
	padding-left: 40px;
}

@media (max-width: 768px) {
	.hero-one {
	    padding: 88px 0 150px;
	    z-index: 2;
	}

	.buttons {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.buttonSign {
	    background: hsla(0,0%,100%,.22);
	    color: #fff;
	    margin-top: 10px;
	    margin-left: 0px;
	}

	.sign-up {
		display: none;
	}

	.nav {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.hero-one {
	    padding: 40px 0px 150px;
	    z-index: 2;
	}

	.hero-three {
	    margin-top: -50px;
	    padding-top: 50px;
	}

	.hero-three img {
		width: 100%;
	    max-width: 1000px;
	}

	.hero-four {
	    margin-top: -50px;
	    padding-top: 60px;
	}
	.hero-five {
	    margin-top: -50px;
	    padding-top: 100px;
	}

	.hero-two {
	    padding-top: 50px;
	    margin-top: -1px;
	}

	.app-store {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding-bottom: 70px;
	}

	.app-store > a:not(.not) {
		margin-left: 0px;
		margin-top: 10px;
	}

	.hero-six {
	    margin-top: -50px;
	    padding-top: 50px;
	    padding-bottom: 100px;
	}

	.message-button {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.buttonSign-one {
	    margin-left: 0px;
	    margin-top: 10px;
	}

	.partners {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.devices {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 50px;
	}

	.device-app {
		padding-right: 10px;
	}

	.device-icon {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		height: 200px;
	}

	.device-icon img {
		width: 100%;
	}

	.footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	    padding: 20px 25px 50px;
	}

	.footer > * {
		margin-top: 20px;
	}

	.company-icon {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
	}
}
