/*
    0 - 600px:      Phone
    600 - 900px:    Tablet Portrait
    900 - 1200px:   Tablet Landscape
    [1200 - 1800px]: Where our normal styles apply
    1800 - ~        Big Desktop

    $breakpoint argument
    - phone
    - tab-port = Tablet Portrait
    - tab-land = Tablet Landscape
    - big-desktop

    ORDER: Base + Typography > general layout + grid > page layout > components

    1em = 16px
    e.g 600/16 = 37.5em
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #fff; }

body {
  font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
  font-weight: 400; }

.heading-primary__white {
  font-size: 6.6rem;
  margin-bottom: 2.6rem;
  font-weight: 400;
  color: #fff; }

.heading-primary__theme {
  font-size: 6.6rem;
  margin-bottom: 2.6rem;
  font-weight: 400;
  color: #e74c3c; }

.heading-secondary__light-grey {
  font-size: 3rem;
  line-height: 4.6rem;
  margin-bottom: 5.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8); }

.heading-secondary__dark-grey {
  font-size: 3rem;
  line-height: 4.6rem;
  margin-bottom: 5.4rem;
  font-weight: 400;
  color: #8e8e93; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3); }
  .row .col-1-5-of-2 {
    width: calc((100% - (6rem * 2)) / 2.5); }
  .row .col-1-7-of-2 {
    width: calc((2 * (100% - (6rem * 2)) / 3.5) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - (6rem * 2)) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (6rem * 3)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (6rem * 3)) / 4) + 6rem * 2); }

.header {
  min-height: 100vh;
  background: #e74c3c;
  display: flex;
  flex-direction: column; }
  .header__nav {
    padding: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; }
  .header__logo {
    font-size: 7rem !important; }
  .header__logo-text {
    line-height: 3.9rem;
    height: 3.9rem;
    font-size: 3.2rem; }
  .header__signup {
    font-size: 1.6rem;
    transition: all .3s; }
    .header__signup:hover {
      color: rgba(255, 255, 255, 0.5); }
  .header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8.8rem 0 21rem; }

.btn, .btn:link, .btn:visited {
  font-size: 2.2rem;
  min-width: 200px;
  display: inline-block;
  padding: 1.4rem 1rem 1.6rem;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none; }

.btn:not(:last-child) {
  margin-right: 4rem; }

.btn--grey {
  background: rgba(255, 255, 255, 0.22);
  color: #fff;
  transition: all .3s; }
  .btn--grey:hover {
    background: rgba(0, 0, 0, 0.4); }

.btn--white {
  background: #fff;
  color: #e74c3c;
  transition: all .3s; }
  .btn--white:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.4); }

.btn--orange {
  color: #fff;
  background: #e74c3c;
  transition: all .3s; }
  .btn--orange:hover {
    background: rgba(0, 0, 0, 0.4); }

.btn--greyish {
  background: #e9f3fb;
  color: #e74c3c;
  transition: all .3s; }
  .btn--greyish:hover {
    background: #e74c3c;
    color: #fff; }
