.app-store {
	display: flex;
    padding-bottom: 7rem;

     @include responsive(phone) {
		flex-direction: column;
    }
    
    &__link {
        &:not(:last-child) {
            margin-right: 5rem;

            @include responsive(phone) {
                margin-right: 0;
            }
        }

        &:not(:first-child) {
            @include responsive(phone) {
                margin-top: 1rem;
            }
        }
    }

    &__img {
        width: 16.7rem;
    }
}