body {
    font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
    font-weight: 400;
}

.heading-primary__white {
    font-size: 6.6rem;
    margin-bottom: 2.6rem;
    // perspective: 800px;
    font-weight: 400;
    color: $color-white;
}

.heading-primary__theme {
    font-size: 6.6rem;
    margin-bottom: 2.6rem;
    font-weight: 400;
    color: $color-primary;
}

.heading-secondary__light-grey {
    font-size: 3rem;
    line-height: 4.6rem;
    margin-bottom: 5.4rem;
    font-weight: 400;
    color: $color-light-grey;
}

.heading-secondary__dark-grey {
    font-size: 3rem;
    line-height: 4.6rem;
    margin-bottom: 5.4rem;
    font-weight: 400;
    color: $color-dark-grey;
}