.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    text-align: center;
    padding: 2rem;

    &--one {
        position: relative;
        background-color: $color-black;
        padding-top: 8.8rem;
        margin-top: -1px;

        &-img {
            width: 64%;
            max-width: 80rem;
        }
    }

    &--two {
        background-image: url('../image/hero-three-back.png');
        background-size: 120%;
        background-color: snow;
        margin-top: -30rem;
        position: relative;
        padding-top: 8.8rem;

        &-img {
            width: 54%;
            max-width: 69rem;
        }
    }

    &--three {
        background-image: url('../image/hero-four-back.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: 75% 25%;
        background-color: $color-white;
        margin-top: -20rem;
        position: relative;
        padding-top: 8.8rem;

        &-img {
            width: 78%;
            max-width: 100.4rem;
            z-index: 80;
        }
    }

    &--four {
        background: $color-primary;
        margin-top: -8rem;
        position: relative;
        padding-top: 15rem;

        &-img {
            width: 78%;
        }
    }

    &--five {
        background-color: $color-white;
        margin-top: -30rem;
        position: relative;
        padding-top: 8.8rem;
        padding-bottom: 10rem;

        &-img {
            width: 78%;
        }
    }

    &--six {
        background-color: $color-black;
        position: relative;
        padding-top: 8.8rem;
        margin-top: -.5rem;

        &-img {
            width: 100%;
	        max-width: 100rem
        }
    }
}